[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
pyparsing = "*"
pyqt5 = "*"
cattrs = "*"
jsonschema = "*"

[dev-packages]
pyqt5-stubs = "*"
types-jsonschema = "*"

[requires]
python_version = "3"
